webrequest==0.0.78
sqlalchemy_utils==0.39.0
mdx_linkify==2.1
apscheduler==3.9.1.post1
psycopg2==2.9.5
babel==2.11.0
sqlalchemy_jsonfield==1.0.1.post0
flask==2.2.2
alembic==1.9.2
flask-wtf==1.1.1
cherrypy==18.8.0
pyramid==2.0
beautifulsoup4==4.11.1
flask_sqlalchemy==3.0.2
flask-debugtoolbar==0.13.1

flask_caching==2.0.2 
pyinotify==0.9.6
python-Levenshtein==0.20.9
ftfy==6.1.1
colorama==0.4.6
paramiko
statsd
python-sql
irc
python-magic
git+https://github.com/fake-name/UniversalArchiveInterface.git
rpyc
sqlalchemy-citext
parsedatetime
cython
tqdm
natsort