webrequest==0.0.72
sqlalchemy_utils==0.36.5
mdx_linkify==1.2
apscheduler==3.6.3
psycopg2==2.8.5
babel==2.8.0
sqlalchemy_jsonfield==0.9.0
flask==1.1.2
alembic==1.4.2
flask-wtf==0.14.3
cherrypy==18.6.0
pyramid==1.10.4
beautifulsoup4==4.9.0
flask_sqlalchemy==2.4.1
flask-debugtoolbar==0.11.0

flask_caching==1.4.0 
pyinotify
python-Levenshtein
ftfy
colorama
paramiko
statsd
python-sql
irc
python-magic
git+https://github.com/fake-name/UniversalArchiveInterface.git
rpyc
sqlalchemy-citext
parsedatetime
cython
tqdm
natsort