webrequest==0.0.78
sqlalchemy_utils==0.40.0
mdx_linkify==2.1
apscheduler==3.10.1
psycopg2==2.9.6
babel==2.12.1
sqlalchemy_jsonfield==1.0.1.post0
flask==2.2.3
alembic==1.10.2
flask-wtf==1.1.1
cherrypy==18.8.0
pyramid==2.0.1
beautifulsoup4==4.7.1
flask_sqlalchemy==2.3.2
flask-debugtoolbar==0.10.1

flask_caching==1.4.0 
pyinotify
python-Levenshtein
ftfy
colorama
paramiko
statsd
python-sql
irc
python-magic
git+https://github.com/fake-name/UniversalArchiveInterface.git
rpyc
sqlalchemy-citext
parsedatetime
cython
tqdm
natsort